# 튜플
리스트처럼 여러 자료를 담을 수 있으나 튜플 원소의 값들을 추가, 수정, 삭제를 직접적으로 할 수 없다.

In [7]:
name = ('james', 'nick', 'choi', 'jung', 'yoo')
num = (1, 2, 3)
name, num

(('james', 'nick', 'choi', 'jung', 'yoo'), (1, 2, 3))

In [4]:
name[1:3]

('nick', 'choi')

In [5]:
name[2] = 'kim'

TypeError: 'tuple' object does not support item assignment

In [8]:
print(name + num)
print(num * 2)

('james', 'nick', 'choi', 'jung', 'yoo', 1, 2, 3)
(1, 2, 3, 1, 2, 3)

### 튜플을 리스트로 변경

In [9]:
a = list(name)
print(a, type(a))

['james', 'nick', 'choi', 'jung', 'yoo'] <class 'list'>